@import "tailwindcss";

* {
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

body {
    background: #e8e8ee;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}